<div id="<%= dom_id(recipe) %>" class="container text-">
  <div id="<%= dom_id(recipe) %>" class="container text-left">
    <p>
      <strong>Preparation Time:</strong>
      <%= recipe.preparation_time %> minutes
    </p>

    <p>
      <strong>Cooking Time:</strong>
      <%= recipe.cooking_time %> minutes
    </p>

    <p>
      <strong>Description:</strong>
      <%= recipe.description %>
    </p>
  </div>
</div>
