<h1 class='text-center mt-5'>Shopping List</h1>

<div class='d-flex justify-content-center align-content-center'>
<div class="card mt-5 col-md-8  ">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Food Item</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @missing_food_items.each do |food| %>
            <tr>
              <td><%= food.name %></td>
              <td><%= food.quantity %></td>
              <td><%= food.price %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<div class='text-center mt-5'>
  <p>Total items: <%= @total_items %></p>
  <p>Total price: <%= @total_price %></p>
</div>